<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel ="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <p>This was created by vipin kumar it users the data form matchbox.com</p>
            <img class="portrate" src="/img/Priya.jpg">
        
        </div>
        
        {{>footer}}
    </body>

</html>